<head></head>

<body>
<div data-ng-controller="HomePageController">

<div class="nav-tabs">
<ul class="nav nav-pills">
	<li>
		<div class="dropdown">
			<div style="margin-bottom:0.2em;">
				<button class="btn btn-info" data-ng-click="openTable('drzave')">Drzave</button>
				<button class="btn btn-info" data-ng-click="openTable('naseljenaMesta')">Naseljena mesta</button>
				<button class="btn btn-info" data-ng-click="openTable('banke')">Banke</button>
				<button class="btn btn-info" data-ng-click="openTable('klijenti')">Klijenti</button>
				<button class="btn btn-info" data-ng-click="openTable('analitikeIzvoda')">Analitike izvoda</button>
				<button class="btn btn-info" data-ng-click="openTable('dnevnaStanja')">Dnevna stanja racuna</button>
				<button class="btn btn-info" data-ng-click="openTable('racuni')">Racuni klijenata</button>
				<button class="btn btn-info" data-ng-click="openTable('rtgs')">RTGS</button>
				<button class="btn btn-info" data-ng-click="openTable('kliring')">Kliring</button>
				<button class="btn btn-info" data-ng-click="openTable('kursnaLista')">Kursna lista</button>
				<button class="btn btn-info" data-ng-click="openTable('kursevi')">Kursevi u valuti</button>
			</div>
		</div>
	</li>
</ul>
</div>

<br>

<div data-ng-show="nameTable != ''">
	<table class="table table-bordered table-hover">
		<tr>
			<th data-ng-repeat="k in kolone">{{k.naziv.toUpperCase().split('_').join(' ')}}</th>
		</tr>
		<tr data-ng-repeat="t in table">
			<td data-ng-repeat = "kk in kolone" >{{getValue(t, kk.naziv, kk.tip)}}</td>
			<td><a data-ng-click="deleteRow(t.id)" class = "btn btn-success">Obrisi</a></td>
			<td><a data-ng-click="izmeni(t)" class = "btn btn-success">Izmeni</a></td>
			<td><a data-ng-click="next(t)" class = "btn btn-success">Child tabele</a></td>
			<td data-ng-if='nameTable == "analitikeIzvoda"'><a data-ng-click="export(t)" class = "btn btn-success">Export</a></td>
		</tr>
	</table>
</div>
<p>Trenutni rezim: {{rezim}}</p>
<div>
	<button class="btn btn-primary" id="dodavanje" data-ng-click="promeniRezim('dodavanje')" data-ng-disabled='nameTable == ""'>Dodavanje</button>
	<button class="btn btn-primary" id="pretraga" data-ng-click="promeniRezim('pretraga')" data-ng-disabled='nameTable == ""'>Pretraga</button>
	<button class="btn btn-primary" data-ng-click="promeniRezim('nema')" data-ng-disabled='nameTable == "" || rezim == "nema" || rezim == "Trenutno nije odabran nijedan rezim."'>Zatvori formu</button>
</div>

<br>

<div id="formaAkcijeDP" data-ng-show='rezim == "DODAVANJE" || rezim == "PRETRAGA"'>
	<form class="form-horizontal" data-ng-submit="izvrsiAkciju()">
		<fieldset>
			<legend data-ng-show='rezim == "DODAVANJE"'>Forma za dodavanje</legend>
			<legend data-ng-show='rezim == "PRETRAGA"'>Forma za pretragu</legend>
			<div data-ng-repeat="k in kolone" data-ng-show='rezim == "DODAVANJE" || rezim == "PRETRAGA"' data-ng-hide='rezim == "DODAVANJE" && k.naziv == "id"' class="form-group">
				<label class="col-lg-2 control-label">{{k.naziv.toUpperCase().split('_').join(' ')}}</label>&nbsp;
				<input data-ng-hide='k.tip == "boolean"' data-ng-disabled='k.naziv == "id" && rezim != "PRETRAGA"' class="dp" id="{{k.naziv}}"/>
				<input data-ng-show='k.tip == "boolean"' class="dpbl" id="{{k.naziv}}"/>
				<input type="button" data-ng-click="zoom(k.naziv.split('_')[1])" value="Zoom" data-ng-show='k.naziv.startsWith("id_")' class="btn"/>
				
				<div data-ng-show='zoomFlag == 1 && k.naziv.startsWith("id_")' style="display:inline-block;">	
					<select id="zoomSelect" class="form-control" style="width:12em">
						<option data-ng-repeat="z in zoomVrednosti" value="{{z.id}}">{{z.id + " " + z.naziv}}</option>
					</select>
				</div>
			</div>
			<button class="btn btn-success" type="submit">Izvrsi akciju</button>
		</fieldset>
	</form>
</div>

<div id="formaAkcijeIZM" data-ng-show='rezim == "IZMENA"'>
	<form class="form-horizontal" data-ng-submit="izvrsiAkciju()">
		<fieldset>
			<legend>Forma za izmenu</legend>
			<div data-ng-repeat="k in kolone" class="form-group">
				<label class="col-lg-2 control-label">{{k.naziv.toUpperCase().split('_').join(' ')}}</label>&nbsp;
				<input data-ng-disabled='k.naziv == "id"' class="izm" value="{{getIzmValue(k.naziv)}}" id="{{k.naziv}}" class="form-control"/>
			</div>
			<button class="btn btn-success" type="submit">Izvrsi akciju</button>
		</fieldset>
	</form>
</div>

<div data-ng-hide='error == ""' class="alert" style="background-color:#f0ad4e;color:white;margin-top:0.5em;margin-bottom:0.5em;width:25em" role="alert">
      {{error}}
</div>

<div style="margin-top:0.5em;">
<label class="btn btn-primary">
Odaberite nalog za placanje
<input type="file" data-file-model="myFile" style="opacity:0;display:none;">
</label><br>
<div data-ng-if="myFile != null" style="margin-top:0.5em;">
Naziv: {{myFile.name}}
<br>
<button style="margin-top:0.5em;" class="btn btn-success" data-ng-click="importNaloga()">Import naloga za placanje</button>
</div>
</div>

</div>
</body>
