<head></head>

<body>
<div data-ng-controller="HomePageController">

<ul>
	<li><button data-ng-click="openTable('drzave')">Drzave</button></li>
	<li><button data-ng-click="openTable('naseljenaMesta')">Naseljena mesta</button></li>
	<li><button data-ng-click="openTable('banke')">Banke</button></li>
	<li><button data-ng-click="openTable('klijenti')">Klijenti</button></li>
	<li><button data-ng-click="openTable('racuni')">Racuni klijenata</button></li>
	<li><button data-ng-click="openTable('rtgs')">RTGS</button></li>
	<li><button data-ng-click="openTable('kliring')">Kliring</button></li>
	<li><button data-ng-click="openTable('kursnaLista')">Kursna lista</button></li>
	<li><button data-ng-click="openTable('kursevi')">Kursevi u valuti</button></li>
	<li><button data-ng-click="openTable('analitikeIzvoda')">Analitike izvoda</button></li>
	<li><button data-ng-click="openTable('dnevnaStanja')">Dnevna stanja racuna</button></li>
</ul>

<div data-ng-show="nameTable != ''">
	<table class="table table-bordered table-hover">
		<tr>
			<th data-ng-repeat="k in kolone">{{k.naziv}}</th>
		</tr>
		<tr data-ng-repeat="t in table">
			<td data-ng-repeat = "kk in kolone" >{{getValue(t, kk.naziv)}}</td>
			<td><a data-ng-click="deleteRow(t.id)" class = "btn btn-primary">Obrisi</a></td>
			<td><a data-ng-click="izmeni(t.id)" class = "btn btn-primary">Izmeni</a></td>
		</tr>
	</table>
</div>
Trenutni rezim: {{rezim}}
<div>
	<button id="izmena" data-ng-click="promeniRezim('izmena')" data-ng-disabled='nameTable == ""'>Izmena</button>
	<button id="dodavanje" data-ng-click="promeniRezim('dodavanje')" data-ng-disabled='nameTable == ""'>Dodavanje</button>
	<button id="pretraga" data-ng-click="promeniRezim('pretraga')" data-ng-disabled='nameTable == ""'>Pretraga</button>
	<button data-ng-click="promeniRezim('nema')">Zatvori formu</button>
</div>

<div id="formaAkcije" data-ng-show='rezim == "IZMENA" || rezim == "DODAVANJE" || rezim == "PRETRAGA"'>

	<form data-ng-submit="izvrsiAkciju()">
		<p data-ng-show='rezim == "DODAVANJE" || rezim == "PRETRAGA"' data-ng-repeat="k in noveKolone">
			<label>{{k.naziv}}</label><input id="{{k.naziv}}"/>
		</p>
		<p data-ng-show='rezim == "IZMENA"' data-ng-repeat="k in noveKolone">
			<label>{{k.naziv}}</label><input value="bla bla" id="{{k.naziv}}"/>
		</p>
		<button type="submit">Izvrsi akciju</button>
	</form>
</div>

</body>

