<head>
</head>

<body>
<div data-ng-controller="LoginController">
{{login}}
<form data-ng-submit="submitUser()">
<label for="korisnickoIme">Korisnicko ime:</label><input data-ng-model="korisnickoIme"/>
<label for="lozinka">Lozinka:</label><input type="password" data-ng-model="lozinka"/>
<button type="submit">Uloguj se</button>
</form>
<div data-ng-show="!authenticated">
	<p>Login to see your greeting</p>
</div>
<div data-ng-show="authenticated">
	<p>all good</p>
</div>

</div>

</body>